.jumbotron{
  background:rgb(147, 190, 174);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:xx-large;
  font-weight: bolder;
}

body{
  background: rgb(226, 218, 219);
}
/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}
#order-details-dropdown,#pizza-details{
  display: none;
}
#order-details, #default-pizza-details {
  text-align: left;
  margin-top: 10px;
}

ul {
  font-size: 13pt;
}
.card1{
  background: rgb(162, 167, 165);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 50% solid black;
  margin-top: 5%;
  margin-bottom: 10%;
  box-shadow: 0 8px 16px 0 black;
  border-radius: 5%;
  
}
.card2{
  background: rgb(162, 167, 165);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 50% solid black;
  margin-top: 25%;
  margin-bottom: 5%;
  box-shadow: 0 8px 16px 0 black;
  border-radius: 5%;
  
}

.center{
display: block;
  margin-left: auto;
  margin-right: auto;
  border: 50% solid black;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 8px 16px 0 black;
  
}
h2{
  text-align: center;
  margin-bottom: 5%;
}
p{
  font-weight: bolder;
}
#order-form,#cart{
  display: none;
}

#greeting{
  background: rgb(162, 167, 165);
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  border: 50% solid black;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 8px 16px 0 black;
  border-radius: 5%;
  padding: 5%;
}
.card{
  background: rgb(162, 167, 165);
}
#address{
  margin: 5%;
}
#address-form{
  display:none;
}